<!DOCTYPE html>
<html lang="en"

      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Finance Family</title>
    <link rel="stylesheet" href="styles/estilos.css">
</head>

<body>
<h1 class="adolfo">Lista de Eventos</h1>
<h3><a href="/cadastrarEvento">Cadastrar Evento</a></h3>
<h3><a href="/cadastrarPessoa">Cadastrar Pessoa</a></h3>

<div th:each="evento : ${eventos}">
    <div class="row">
        <p><span th:text="${evento.nome}"></span></p>
        <p><span th:text="${evento.local}"></span></p>
        <p><span th:text="${evento.data}"></span></p>
        <p><span th:text="${evento.horario}"></span></p>
    </div>

</div>


</body>
</html>