<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Finance Family</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link  rel="stylesheet" th:href = "@{/materialize/css/materialize.min.css}"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->

    <link rel="stylesheet" th:href="@{/estilo.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<h1 class="adolfo">Lista de Eventos</h1>
<a  class="waves-effect waves-light btn" href="/cadastrarEvento">Cadastrar Evento</a>
<a  class="waves-effect waves-light btn" href="/cadastrarPessoa">Cadastrar Pessoa</a>

<table>
    <thead>
    <tr>
        <th>Local</th>
        <th>Data</th>
        <th>Horario</th>
    </tr>
    </thead>

<tbody>
    <tr th:each="evento : ${eventos}">
            <td><span th:text="${evento.nome}"></span></td>
            <td><span th:text="${evento.local}"></span></td>
            <td><span th:text="${evento.data}"></span></td>
            <td><span th:text="${evento.horario}"></span></td>
    </tr>
</tbody>

</table>




<script type="text/javascript" th:src="@{/materialize/js/materialize.min.js}"></script>
</body>


</html>